body {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#contenedorBotones {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

#caja {
	margin-top: 30px;
}

button {
	padding: 6px;
	margin: 5px;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #1162ac;
	background-color: #1162ac;
	color: white;
	width: 17%;
	height: 45px;
}

button:hover {
	cursor: pointer;
}

img {
	width: 100px;
	margin: 5px;
	border-radius: 13px;
}

