#caja {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	padding: 10px;
	border: 1px solid red;
}

.cuadro {
	border: 1px solid red;
	width: 18px;
	height: 18px;
	margin: 4px;
	font-size: 0.65em;
	color: red;
	text-align: center;
	line-height: 18px;
	moz-user-select:none;
	cursor: pointer;
}

#numeroPremiado {
	color: red;
	margin-bottom: 3px;
}

#caja2 {
	display: flex;
}